{% extends "base.htm" %}
{%  load crispy_forms_tags %}
{% block content %}
<style>
    body{
        background-image: url('https://static1.squarespace.com/static/58160d5946c3c4f1cb200cb2/t/589118f16a4963f35f8e71fa/1485903119066/bgblur.jpg?format=1500w');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    form {
        padding-top: 100px;
    }
</style>
    <div class="col-md-6 col-md-offset-3">
        <form method="post">
            {% csrf_token %}
            {{ form |crispy}}
            <button type="submit" class="btn btn-success">Save changes </button>
        </form>
    </div>

{% endblock content %}