
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    body {
        background-image: url('https://static1.squarespace.com/static/58160d5946c3c4f1cb200cb2/t/589118f16a4963f35f8e71fa/1485903119066/bgblur.jpg?format=1500w');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .form {
        margin-top: 100px;
    }
</style>
    
    </head>
    <body>
    {% if validlink %}
    
    
    <div class="col-xs-6 col-md-offset-3 ">
        <form method="post" class="form">
            {%  load crispy_forms_tags %}
            <div class="form-group">
                <h3>Change password</h3>
            </div>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Change password</button>
        </form>
        {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    </div>
    {% endif %}
        
    </body>
</html>




{% block content %}

{% endblock %}