
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        body {
                background-image: url('https://static1.squarespace.com/static/58160d5946c3c4f1cb200cb2/t/589118f16a4963f35f8e71fa/1485903119066/bgblur.jpg?format=1500w');
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        div{
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div>
        Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
    </div>
</body>
</html>

{% block content %}
<p>
    
</p>
{% endblock %}